charset "utf-8";
.note-nowrap{width: 90px;overflow:hidden;text-overflow:ellipsis;text-align: left;font-size:13px;}
.table_list>thead>tr>th.th300,.table_list>thead>tr>th.th440,.table_list>thead>tr>th.th320{ padding-left:20px;}
/*媒体搜索 begin*/
.tabmenu{height:50px; position:relative;}
.tabmenu li{ float:left; height:40px; line-height:40px; margin-right: 10px;}
.tabmenu li a{color:#0c0b17; display:block;font-size:14px; font-weight:bold;}
.tabmenu li span{ display:block;padding:0 15px;margin-right:2px;border:1px solid #ccc;border-radius:5px}
.tabmenu li.select{ background:none;}
.tabmenu li.select span,.tabmenu li.select span:focus,.tabmenu li.select span:hover {color:#fff;border:1px solid #ea544a; background:#ea544a;}
.tabmenu li.select span a,.tabmenu li.select span:focus a,.tabmenu li.select span:hover a{color:#fff;}
.tabmenu .search{width:353px;float:right}
.mid-search2 .seatext2{ width:300px; color:#babab7; height:42px; border: 2px solid #e5e5e5;border-radius: 4px 0 0 4px; background:#fff;margin-left:2px;padding: 0 0 0 10px;border-right: none}
.seawrap{ padding: 0px 0px 15px 0px; position: relative}
/*媒体搜索 end*/
.mid-search2 .seabtn2{width:50px; height:42px;display:inline-block;padding:2px 6px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius: 0 4px 4px 0;text-indent: -88888px}
.mid-search2 .seabtn2{color:#fff;border-color:#ea544a;background: url(../images/magnifier.png) no-repeat center center;background-color:#ea544a;}
.mid-search2 .seabtn2:active,.mid-search2 .seabtn2:focus,.mid-search2 .seabtn2:hover{color:#fff;background-color:#c81623;border-color:#c81623}
/*广告主筛选功能 begin*/
.selector .s-brand, .selector .s-line {width: auto;height: auto;}
.selector {position: relative}
.selector .sl-wrap {position: relative;border-bottom: 1px solid #f5f5f5; }
.selector .sl-value {margin-left: 110px;padding: 5px 120px 5px 20px;zoom: 1; background:#fff;}
.selector .sl-b-letter {display: none;float: left;overflow: hidden;zoom: 1;padding-top: 6px;margin-bottom: 10px;}
.selector .sl-b-letter li {float: left;height: 20px;line-height: 20px;border: 1px solid #FFF;padding: 0 3px;cursor: default;text-align: center;color: #005aa0;}
.selector .sl-b-letter li {padding: 0 8px;}
.selector .sl-b-letter li.curr, .selector .sl-b-letter li:hover {border-color: #ea544a;color: #ea544a;}
.selector .sl-key {float: left;width: 100px;padding: 12px 0 0 10px; text-align: right}
.selector .s-price .sl-key {padding: 8px 0 0 10px;}
.selector .sl-key strong{font-weight:bold;}
.selector .sl-key span{float:right}

.selector .sl-v-list {overflow: hidden;zoom: 1;padding-top: 4px;}
.selector .sl-v-list ul {float: left;overflow: hidden;zoom: 1;position: relative;height: 30px;}
.selector .sl-v-list li {float: left;_display: inline;margin-right: 50px;margin-bottom: 4px;height: 26px;line-height: 26px;}
.selector .s-brand .sl-v-list .v-fixed {height: 60px;}
.selector .extend {margin-top: -1px;border: 2px solid #ea544a;background: #f9f9f9;}
.selector .s-brand .extend .sl-v-list .v-fixed {height: auto;}

.selector .s-brand .sl-v-list li {width: 98px;margin-right: 5px;}
.selector .s-brand .sl-v-list li a {display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #333;}
.selector .s-price .sl-v-list li {width:110px;margin-right: 5px;}
.selector .s-price .sl-v-list li a {display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #333;}
.selector .s-price .extend .sl-value {margin-left: 108px;background: #fff;}
.selector .s-price .sl-v-list li.Listfirst {width: 120px;margin-right: 5px;}
.selector .s-price .sl-v-list li.Listnext {width: 350px;margin-right: 5px;}

.selector .s-city .sl-v-list li {width:65px;margin-right: 5px;}
.selector .s-city .sl-v-list li a {display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #333;}
.selector .s-city .extend {margin-top: -1px;border: 2px solid #AAA;background: #f9f9f9;}
.selector .s-city .extend .sl-value {margin-left: 108px;background: #fff;}
.selector .s-city .sl-v-list li.Listfirst {width: 120px;margin-right: 5px;}
.selector .s-city .sl-v-list li.Listnext {width: 300px;margin-right: 5px;}
.selector .s-city .sl-v-list li.Listnext select {display: inline-block;height: 24px;margin-right: 3px;line-height: 24px;cursor: pointer;padding: 0 5px;width: 110px;}

.selector .s-fans .sl-v-list li {width:110px;margin-right: 5px;}
.selector .s-fans .sl-v-list li a {display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #333;}
.selector .s-fans .extend {margin-top: -1px;border: 2px solid #AAA;background: #f9f9f9;}
.selector .s-fans .extend .sl-value {margin-left: 108px;background: #fff;}
.selector .s-fans .sl-v-list li.Listfirst {width: 120px;margin-right: 5px;}
.selector .s-fans .sl-v-list li.Listnext {width: 400px;margin-right: 5px;}
.selector .s-fans .sl-v-list li.Listnext select {display: inline-block;height: 24px;margin-right: 3px;line-height: 24px;cursor: pointer;padding: 0 5px;width: 110px;}
.selector .smMore{ display:none;}
.selector .showMore{ display:block;}
.selector .s-line .sl-v-list li {width:110px;margin-right: 5px;}
.selector .s-line .sl-v-list li a {display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #333;}
.selector .s-line .extend .sl-value {margin-left: 108px;background: #fff;}
.selector .s-line .sl-v-list li.Listfirst {width: 120px;margin-right: 5px;}
.selector .s-line .sl-v-list li.Listnext {width: 300px;margin-right: 5px;}
.selector .s-line .sl-v-list li.Listnext select {display: inline-block;height: 24px;margin-right: 3px;line-height: 24px;cursor: pointer;padding: 0 5px;width: 110px;}

.selector .sl-ext {position: absolute;top: 12px;right: 0;width: 125px;height: auto;overflow: hidden;zoom: 1;}
.selector .s-brand .extend .sl-ext, .selector .s-brand .multiple .sl-ext {right: 8px;}
.selector .sl-ext .sl-e-more {float: right;margin-right: 10px;position: relative;padding: 2px 20px 2px 6px;background: #fff;visibility: hidden;border: 1px solid #f5f5f5;color: #999;border-radius: 4px;}
.selector .sl-ext .sl-e-more:hover {text-decoration: none;color: #ea544a;}.selector .sl-ext .sl-e-more i, .selector .sl-ext .sl-e-multiple i {background: url(../images/search.ele.png) no-repeat 9999px 9999px;-webkit-transition: background-position .15s ease-in-out;-moz-transition: background-position .15s ease-in-out;transition: background-position .15s ease-in-out;}
.selector .sl-ext .sl-e-more i {position: absolute;top: 1px;right: 2px;display: block;width: 20px;height: 20px;background-position: 4px 7px;}

.selector .sl-ext .sl-e-multiple {display: inline-table;height: 24px;line-height: 24px;border: 1px solid #f5f5f5;padding: 0 3px 0 18px;position: relative;background: #fff;border-radius: 4px;color: #999}
.selector .sl-ext .sl-e-multiple i {position: absolute;display: block;font-style: normal;left: 3px;top: 3px;width: 13px;height: 20px;background-position: 0 -63px;}

.selector .s-more {text-align: center;position: absolute;bottom: -27px;border-top: 1px solid #f5f5f5;-webkit-transition: border-color .15s ease-in-out;-moz-transition: border-color .15s ease-in-out;transition: border-color .15s ease-in-out;left: 0;width: 100%}
.selector .s-more:hover {border-color: #ea544a;}
.selector .s-more .sm-wrap {position: relative;display: inline-block;margin-top: -1px;height: 28px;line-height: 28px;padding: 0 40px 0 20px;border-width: 1px;border-radius: 0 0 4px 4px;border-style: solid;border-color: #FFF #DDD #DDD;background: #fff;cursor: pointer;color: #333;-webkit-transition: border-color .15s ease-in-out;-moz-transition: border-color .15s ease-in-out;transition: border-color .15s ease-in-out;color: #999}
.selector .s-more:hover .sm-wrap {color: #ea544a;border-color: #FFF #ea544a #ea544a;}
.selector .s-more .sm-wrap i {position: absolute;right: 16px;top: 4px;display: inline-block;width: 20px;height: 20px;background: url(../images/search.ele.png) no-repeat 4px 7px;}
.selector .sl-v-list li a {position: relative; padding: 0px 6px;}
/*.selector .sl-v-list li a i {position: absolute;left: 0;top: 8px;background: url(../images/selecticon.png) no-repeat 0 0;display: inline-block;height: 13px;width: 13px;}*/
.selector .sl-v-list li a:hover i{background-position: 0 -13px;}
.selector .sl-v-list li a:hover,.selector .sl-v-list li a.select{ background:#ea544a; color: #fff; border-radius: 5px;text-decoration: none;}
.selector .sl-v-list li a.select i {background-position: 0 -13px;}
.data-slither{ position:relative; margin-right: 20px;}
.data-slither,.c-other .slither-List,.c-other .slither-title{min-width:105px;}
.c-other .data-slither i{ font-size: 12px;position: absolute; right: 8px; top:3px;}
.c-other .slither-title{display:inline-table;padding: 2px 8px;height: 26px; line-height:20px;background-color: #fff;cursor: pointer;position: relative;border: 1px solid #e8e8e8;z-index: 100}
.c-other .slither-List{ display: none; position: absolute; left: 0px; top: 25px; z-index: 99; background-color: #fff;padding: 10px 0px; border: 1px solid #e8e8e8;}
.c-other .slither-List a{ display: block; line-height: 24px;height: 24px;padding: 0px 10px; color: #333;text-decoration: none;}
.c-other .slither-List a:hover{background: #fd6f65; color: #fff;}
.c-other .slither-List a.select{ background: #ea544a; color: #fff; }

.c-other .slither-List.slither-lg{width: 380px;padding: 15px}
.c-other .slither-List.slither-lg a{display: inline-table;width: 80px;padding: 0;text-align: center;margin-bottom: 5px}

.slither-read .slither-title,.slither-read .slither-List{ width: 115px;}
.btn_confirm_cjfl{position: absolute;right: 18px;bottom: 10px;padding: 2px 13px;display: none}

.Listnext .text,.Listnext .text{ float:left;}
.Listnext i,.part03-price i{ float:left; padding:7px 9px 0 9px; font-style:normal;}

.scopep{position: absolute ;right: 6px;top: 5px;overflow: hidden;z-index:10; padding:5px; }
.scopep input{width:60px;padding: 2px 5px;height: 26px;float: left;font-size: 12px}
.scopep i{float: left;color: #999;line-height: 20px}
.scopep span{width: 60px;height: 26px;line-height: 24px; padding: 0px;}

.scopep:hover{background: #fff;border:1px solid #f5f5f5;}
.scopep:hover .btn-bt{display: block}

.btn-bt{display: none}
.cityset{position: absolute ;right: 10px;top:8px;overflow: hidden;z-index: 2}
.cityset select{width:80px; height:26px; line-height:20px;padding:0px;}
.cityset span{width: 40px;height: 26px;line-height: 20px; padding:0px;}
#select_zfjg_type{width:90px; height:26px; line-height:20px;padding:0px}
#select_ckbj_type{width:90px; height:26px; line-height:20px;padding:0px;}

/*广告主筛选功能 end*/
/*广告主排序功能 begin*/
.down_list {height: 26px; width:200px;position: relative; z-index:200;}
.down_list_label {background: url(http://www.cwq.com/App/Public/Owner/images/icon_acmenu.png) no-repeat right -1018px #fff;height: 24px;width: 198px;line-height: 24px;border: 1px solid #bebebe;text-indent: 8px;}
.down_list_label a {display: block;}
.down_list_body li {line-height: 24px;border-top: 1px solid #bebebe;display: block;position: relative;}
.down_list_body {margin: -1px 0px;width: 198px;background: #fff;border: 1px solid #bebebe; display:none;}
.down_list_body li:first-child {border-top: 0;}
.down_list_body li a {text-indent: 30px;display: block;}
.down_list li.downshow{ display:block;}
.down_list_body li a:hover {background-color: #e8e8e8;}
.down_order .order_icon {display: block;position: absolute;width: 19px;
height: 30px;top: 50%;left: 0;margin-top: -15px;background: url(../images/order_icon.gif) no-repeat;margin-left: 3px;}
.down_order .dtwdyt_icon {background-position: 0px -295px;}
.down_order .dtb_icon{background-position: 0px -95px;}
.down_order .dtwdet_icon {background-position: 0px -345px;}
.down_order .dtwqtwz_icon{background-position: 0px -395px;}
.down_order .read_icon{background-position: 0px -45px;}
.down_order .week_icon{background-position: 0px -195px;}
.down_order .month_icon{background-position: 0px -195px;}
/*广告主排序功能 end*/
/*筛选汇总 begin*/
.resultbox{ padding:10px 0 0 0;display: none}
.resultbox .span-ok{  padding:3px 10px 0 9px;}
.resultbox .grp{ width:770px; text-align:left;}
.resultbox .grp li{ margin-right:10px; margin-bottom:5px; line-height:22px; border:1px solid #E6E6E6;  float:left; padding:1px 1px 1px 3px; border-radius:4px;}
.trash{ width:150px; height:26px; line-height:26px;  cursor:pointer; background:#f5f5f5; color:#666;border-radius:4px; margin-right: 10px;}
.trash:hover{background:#3f3f3f; color:#fff;}
.delete_tags{ display: inline-block;min-width: 10px;padding: 3px 7px;font-size: 12px;font-weight: bold;line-height: 1;color: #ea544a;text-align: center;white-space: nowrap;vertical-align: baseline; cursor:pointer;-webkit-transition:transform .2s ease-out 0s;-moz-transition:transform .2s ease-out 0s;transition:transform .2s ease-out 0s}
.delete_tags:hover { font-size: 14px;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
.delete_tags:before { content: "\e6c9"; }
/*筛选汇总 end*/

/*媒体版头 begin*/
.filter_box{ background:#fafafa;box-shadow:0 0 6px #ddd; overflow:hidden; border-bottom: 1px solid #e8e8e8;}
.filter_box .up b,.filter_box .down b,#store-selector .close,#store-selector .text b,.filter_box .instock b,.filter_box .filter_type b,.filter_box .activity b{background-image:url(../images/filter_ico.png);background-repeat:no-repeat}
.filter_box .fore1{height:30px;padding:5px 8px;border-bottom:1px solid #E7E3E7;zoom:1}
.filter_box .fore2{padding:3px 8px;zoom:1}
.filter_box dl,.filter_box dt,.filter_box dd{float:right;line-height:26px;zoom:1}
.filter_box dt{padding: 0 30px 0 18px}
.filter_box .total{float:right;height:22px;padding:2px 15px 2px 0;line-height:22px;font-family:verdana;color:#E4393C}
.filter_box .pagin{float:right;height:22px;padding:2px 0;border-left:1px solid #fff}
.filter_box .filter_order dd{height:24px;border:1px solid #CECBCE; position:relative;background-repeat:repeat-x;background-color:#fff;margin:0px 5px 0px 0px;line-height:24px;overflow:hidden;zoom:1;}
.filter_box .up,.filter_box .down{position:relative}
.filter_box .filter_order a{display:block;padding:0 10px}
.filter_box .filter_order b{position:absolute;top:6px;right:8px;width:9px;height: 10px;overflow:hidden;font-size:0;vertical-align: middle; display:block;}
.filter_box .filter_order b.or_fans_desc,.filter_box .filter_order b.or_fans_asc{background: url(../images/order_icon.gif) no-repeat;}
.filter_box .filter_order b.or_fans_desc{background-position: -3px -850px;}
.filter_box .filter_order b.or_fans_asc{background-position: -3px -950px;}
.filter_box .filter_order .curr b.or_fans_desc{background-position: -3px -800px;}
.filter_box .filter_order .curr b.or_fans_asc{background-position: -3px -900px;}

.filter_box .filter_order .curr{border:1px solid #E4393C;background:#fffced;font-weight:700}
.filter_box .filter_order .curr a,.filter_box .filter_order .curr a:hover{color:#ea544a}
.filter_box .up a,.filter_box .down a{padding-right:20px}
.filter_box .filter_order .up b,.filter_box .filter_order .down b{display:block}
.filter_box .filter_order .up b{background-position:0 -12px}
.filter_box .filter_order .down b{background-position:0 0}
.filter_box .store{padding-right:15px;border-right:1px solid #E7E3E7}
.filter_box .instock{position:relative;padding-left:16px}
.filter_box .instock b,.filter_box .activity b{display:block;position:absolute;top:7px;left:0;width:13px;height:13px;background:url(../images/filter_ico.png) no-repeat}
.filter_box .instock a:link b,.filter_box .instock a:visited b,.filter_box .instock .disabled b,.filter_box .activity b,.filter_box .activity a:link b,.filter_box .activity a:visited b,.filter_box .activity .disabled b{background-position:-26px -25px}
.filter_box .instock .disabled{color:#999}
.filter_box .instock a:hover b,.filter_box .instock a:active b,.filter_box .instock .selected a:link b,.filter_box .instock .selected a:visited b,.filter_box .activity a:hover b,.filter_box .activity a:active b,.filter_box .activity a.selected:link b,.filter_box .activity a.selected:visited b{background-position:-39px -25px}
.filter_box .activity .disabled,.filter_box .instock .disabled{color:#999}
.filter_box .merger{position:relative;padding-left:31px;border-left:1px solid #fff}
.filter_box .merger .disabled{color:#999}
.filter_box .merger b{display:block;position:absolute;top:7px;left:0;width:13px;height:13px;background:url(i/20120418.png) no-repeat}
.filter_box .merger b{left:16px}
.filter_box .merger .disabled b,.filter_box .merger a:link b,.filter_box .merger a:visited b{background-position:-28px -25px}
.filter_box .merger a:hover b,.filter_box .merger a:active b,.filter_box .merger .selected a:link b,.filter_box .merger .selected a:visited b{background-position:0 -25px}
.filter_box .filter_type{padding:8px 0 8px 15px}
.filter_box .filter_type dd {  display: inline; margin-right: 8px;  padding: .4em .6em;  font-weight: 700;  line-height: 1;  color: #333;  text-align: center;  white-space: nowrap;  vertical-align: baseline;  border-radius: .25em; border: 1px solid #ccc;}
.filter_box .filter_type dd.select {background: #ea544a;border: 1px solid #ea544a; color: #fff;}
.filter_box .instock b,.filter_box .filter_type b{display:block;position:absolute;top:7px;left:0;width:13px;height:13px;font-size:0}
.filter_box .filter_type b{background-position:-67px -25px}
.filter_type dd{ cursor:pointer;}
.filter_box .filter_type b:hover,.filter_box .filter_type dd.selected b,.filter_box .filter_type dd:hover b{background-position:0 -13px;}
*html .filter_box .order dd{line-height:26px}
.filter_box .up b, .filter_box .down b, #store-selector .close, #store-selector .text b, .filter_box .instock b, .filter_box .filter_type b, .filter_box .activity b {background-image: url(../images/selecticon.png);background-repeat: no-repeat;}
.filter_box .instock b, .filter_box .filter_type b {display: block;position: absolute;top: 7px;left: 0;width: 13px;height: 13px;font-size: 0;background-position: 0 0}
.desc_asc{background: url(../images/desc_asc.png) no-repeat left 3px ;display: inline-block;padding-left:15px; float:left;}
.desc .desc_asc{background-position: left -77px}
.asc .desc_asc{background-position: left -37px}
.all_select{ position: relative; padding-left: 20px;}
.all_select b{  display: block;  position: absolute;  top:4px;  left: 0;  width: 13px;height: 13px;font-size: 0;    background: url(../images/selecticon.png) no-repeat;background-position: 0 0;}
.orderspan{cursor: pointer;}
.orderspan:hover{text-decoration: underline;color: #ea544a;}
.bore{border:1px solid #e8e8e8; border-top:none;box-shadow: 0 0 6px #ddd;}

.filter_mod{float: left;}
.filter_mod a{float: left;width: 100px;height:42px;line-height:42px;text-align: center;font-weight: bold; color:#fff; background-color:#363636;border-top: 1px solid #f5f5f5;border-right: 1px solid #f5f5f5;}
.filter_mod a:hover,.filter_mod a.selected{background: #ea544a;color: #fff;text-decoration:none}
.filter_mod a.sidebar_weixin,.filter_mod a.sidebar_news{background-image: url(../../Indexs/images/cwqtop_banner/sidebar_weixin.gif?20160612); background-repeat: no-repeat;text-indent:-9999px;}
/*.filter_mod a.sidebar_pen{background-image: url(../../Indexs/images/cwqtop_banner/1_2.gif?20164020); background-repeat: no-repeat;text-indent:-9999px;}*/
.jiuzhe{background: url(../images/specialoffer.gif) no-repeat;width: 100px;height: 60px;position: absolute;right:0px;top: -40px; display:none;}
.wei_content{background: #fff}
.wei_content td{ border-bottom:1px dashed #e8e8e8;}
.wei_content td.order_note{ text-align: left;}
#list_content em{ color: #ea544a;}
#list_content tr .collect {filter: alpha(opacity=0);opacity: 0;position:absolute; width:200px;right:0;text-align:right;}
#list_content tr .collect a {margin:0 12px 0 20px;display:inline-block;}
#list_content tr:hover .collect {filter: alpha(opacity=100);opacity:1;}
#list_content td {padding:15px 0;}
#list_content .add_cart_icon {text-align:center;font-weight:500; cursor:pointer;color:#337ab7;display: block;}
/*媒体版头 end*/
/*名人列表 begin*/
.celebrity{border-bottom: 1px dashed #E5E5E5;padding: 15px 10px 5px 0; overflow: hidden}
.celebrity .cby{ overflow:hidden; padding:0px 10px; float:left;}
.celebrity .cbycol1{ padding-left:30px; position:relative}
.celebrity .cbycol2{ width:400px}
.celebrity .cbycol3{ width:180px; padding:30px 0px 30px 10px ;}
.celebrity .cbycol4{ width:160px; padding:20px 0px;}
.celebrity .cbycol4-2{ width:150px; padding:30px 0px 30px 10px;;}
.celebrity .cbycol5{ width:200px;padding:15px 0px;}
.celebrity .cbycol6{ width:120px;}
/*.celebrity .check{ width:15px; height:15px; position:absolute; left:10px; top:30px;}*/
.celebrity .celebrityimg,.celebrity .celebrityimg img{ width:80px; height:80px; overflow:hidden;border-radius: 40px;border: 1px solid #eee}
.celebrity .cbycol1 i {display: block;width: 22px;height: 17px; position:absolute; bottom:0px; right:0px; padding:0px; margin:0px; background-repeat:no-repeat}
.celebrity .weibo {background-image: url(../images/cer_img02.gif);}
.celebrity .weixin {background-image: url(../images/wx_a.png);}
.celebrity .cbytitle{font-size:14px;}
.celebrity .cbytitle .femail_none{ padding-right:5px;font-size:16px;  font-weight:bold;}
.celebrity .cbytitle span b{ color:#666;}
.celebrity .cbytitle .v,.part01-mrfx  .v{ display:block; background:url(../images/cer_img03.gif) no-repeat; width:22px; height:17px; margin-right:10px;}
.celebrity  .cby_tem{ color:#999; line-height:20px; height:44px; font-size:12px;}
.celebrity .misc li{ display:block;padding-right:10px;}
.celebrity .shopname{color:#888;cursor:pointer; padding-bottom:10px;clear: both}
.celebrity .shopname:hover{color:#ea544a}
.celebrity .shopname .dsrs{width:13px;float:left; margin-top:2px;}
.celebrity .shopname .dsr{float:left;margin-top:2px;height:2px;width:8px;overflow:hidden}
.celebrity .shopname .morethan{background:#3f3f3f}
.celebrity .shopname .equalthan{background:#ea544a}
.celebrity .shopname .lessthan{background:#00ba97}
.celebrity .shopname .text{float:left}
.celebrity .shopname-text{text-decoration:none}
.celebrity .shopname-text:hover{color:#888}
.celebrity .price{display:block;font-family: "Microsoft YaHei", "微软雅黑"}
.cbycol6 span,.cbycol6 .icon-btn{display:block;width:80px;overflow:hidden;border:solid 1px #f2f2f2;color:#404040;white-space:nowrap;text-decoration:none; padding:2px 2px 2px 30px; cursor:pointer; line-height:20px; margin-bottom:2px;border-radius: 4px;}
.cbycol6 span:hover,.cbycol6 .mrdetail_cur,.cbycol6 .collect_cur,.cbycol6 .black_cur{border-color:#ea544a; color:#ea544a}
.cbycol6 .mrdetail,.cbycol6 .mrdetail:hover,.cbycol6 .mrdetail_cur,.cbycol6 .collect,.cbycol6 .collect:hover,.cbycol6 .collect_cur,.cbycol6 .black_cur,.cbycol6 .black,.cbycol6 .black:hover{background:url(../images/icon_acmenu.png) no-repeat;}
.cbycol6 .mrdetail{ background-position:5px -1073px;}
.cbycol6 .mrdetail:hover,.cbycol6 .mrdetail_cur{ background-position:5px -1165px;}
.cbycol6 .collect:hover,.cbycol6 .collect_cur{ background-position:5px -197px;}
.cbycol6 .collect{ background-position:5px -38px;}
.cbycol6 .black:hover,.cbycol6 .black_cur{ background-position:5px -274px;}
.cbycol6 .black{ background-position:5px -115px;}
.g_price {font-family: arial;}
.g_price span {margin-right: 3px;color: #999;}
.g_price-highlight span {color: #ea544a;}
.g_price b {color: #ea544a;font-weight: 700;font-family: verdana,arial;}

/*名人列表 begin*/
/*草根列表 begin*/
.table_list{border-collapse: collapse;width: 100%;}
.tabg_blacklist{ background:#f3f3f3	;}
.tabg_collect{ background:#fff4d8;}
.table_list .menu1 {width: 1199px; border-bottom: none;}
.table_list tr .thtxt{ text-align:left; width:273px;}
.table_list th {font-weight:bold; }
.table_list th.thwei2,.table_list td.thwei2 { width:50px;}
.table_list th.thwei3,.table_list td.thwei3 { width:90px;}
.table_list th.thwei4,.table_list td.thwei4 { width:95px;}
.table_list th.thwei5,.table_list td.thwei5 { width:90px;}
.table_list td.thwei5 strong {padding:0px 8px; display:inline-block; text-align:center;}
.table_list th.thwei6,.table_list td.thwei6 { width:70px;}
.table_list th.thwei7,.table_list td.thwei7 { width:60px;}
.table_list th.thwei8,.table_list td.thwei8 { width:110px;}
.table_list th.th85 { width:85px;text-align: center;}
.table_list th.th120 { width:120px;}
.table_list th.th130 { width:130px;}
.table_list th.th160 { width:160px;}
.table_list th.th200 { width:200px;}
.table_list th.th300 { width:280px;}
.table_list th.th320 { width:320px;}
.table_list th.th350 { width:420px;}
.table_list th.th440 { width:440px;}
.table_list td.tdpadd {vertical-align: middle; padding-left:15px !important;}
.table_list .order_note{vertical-align: middle;}

.table_list tr.col_cen,.table_list tr .isStuck{line-height:50px; height:50px;background:#fafafa; font-weight:bold; border-bottom:1px solid #e8e8e8; border-top:none;}
.table_list>thead>tr>th{vertical-align:middle;}

.table_list td{border-bottom: 1px dashed #e8e8e8; padding:5px 0px}
.wechat_title{ float:left; text-align:left}
.wechat_title dt{ float:left; height:56px; padding-right:10px;}
.wechat_title dt input{ float:left; margin:20px 10px 0 5px}
.wechat_title dt img{ float:right;width:50px; max-height:50px;border-radius: 25px;border: 1px solid #eee; cursor:pointer;margin-top:4px;}
.wechat_title dd{float: left;margin-top: 8px}
.wechat_title h3{font-weight: bold; overflow: hidden}
.wechat_title h3 a{}
.wechat_title .news_p{margin-top: 4px;clear: both;color: #999;max-width:170px;white-space:nowrap;/*overflow:hidden;*/text-overflow:ellipsis; font-size:12px;}
.have_authentication_no {font-size:12px; border-radius:4px;border: 1px solid #f60;display: inline-block;padding: 0 2px;line-height: 16px;background: #ff9a00;color: #fff;}
.have_authentication {display: inline-block; font-size: 12px; line-height: 14px; padding:.2em .3em .3em;;}
.que_authentication{border:1px solid #f60;display: inline-block;padding:2px 24px;line-height: 16px;background:#ff9a00;color: #fff;}
.tooltip_tonus{ width:15px; height:15px; margin-left: 5px;  cursor:pointer;color: #000;font-size: 14px!important;}
.jing_tonus{ width:15px; height:15px;margin-left: 5px;  background: url(/App/Public/Global/images/jing.png) no-repeat;}
.tippovers{font-style:normal; display:inline-block; line-height:20px;}
.operation a{ display: block; text-align: center; text-decoration: none;}
.operation a:hover{}
.operation i{ margin-right: 5px;}
.selected_line{background-color:#fefae8;}
/*草根列表 end*/
.celebrity_title{ text-align:left}
.celebrity_title dt{height:80px; padding-right:10px; width: 120px;}
.celebrity_title dt input{ margin:36px 10px 0 5px}
.celebrity_title dt img{ float:right;width:80px; max-height:80px;border-radius: 40px;border: 1px solid #eee; cursor:pointer;}
.celebrity_title dd{ width: 320px;}
.celebrity_title h3{font-weight: bold; overflow: hidden}
.celebrity_title h3 a{}
.celebrity_title .cby_centent{ height: 62px; line-height: 20px; overflow: hidden; color: #999; font-size: 12px; padding-top: 5px;}
.celebrity_title dt label,.mediapart label{ position:relative;}
.celebrity_title dt i,i.specialoffer{ position:absolute; height:20px; text-indent:-9999px;}
.celebrity_title dt i.yellow_weixin_v{width:20px; bottom:-5px; right:-5px;}

/*找不到媒体 begin*/
.entrance{width: 100%;text-align: center;background: #f5f5f5;height: 30px;line-height: 30px;}
.entrance a {color:#ea544a;}
.entrancebox{position:absolute;left:0px; top:0px; z-index:10000; position:fixed;width:100%; height:100%; display:none;}
.entrancebox .entrancebody {display:block;  background:#000\9; filter:alpha(opacity=50)\9; background:rgba(0,0,0,0.5); width:100%; height:100%}
.entrancedetail {border: 5px solid #a3a3a3;background: #fff;border-radius: 3px;position: absolute; left:50%; top:50%; width:500px; height:315px; margin:-150px 0px 0px -250px;}
.entrance_title {height: 38px;line-height: 38px;background: #eff3f4;width: 100%;}
.entrance_title .close{top: 7px;right: 7px;}
.entrance_title span{ padding:0px 0px 0px 10px; font-weight:bold;}
.small_foot{height: 45px;text-align: center; padding:0px 80px;}
/*找不到媒体 end*/
/*全选 begin*/
.controlbox{ padding-right:10px}
.controlbox span{display:inline-block;float:left;margin-left:-1px;border:solid 1px #ededed;height:34px;color:#3e3e3e;text-align:center;line-height:34px;cursor:pointer;-webkit-transition:all .1s linear;-moz-transition:all .1s linear;-o-transition:all .1s linear;transition:all .1s linear; padding:0px 10px;}
.weibo-bot{ margin:20px 0;padding-left: 20px}
/*全选 end*/

/*批量添加弹窗 begin*/
.batchbox{ z-index:201; width:487px; border:5px solid #a3a3a3; background:#fff; border-radius:3px; position:fixed; right:0; bottom:0;}
.top-batch{ height:38px; line-height:38px; background:#f8f8f5; width:100%;}
.top-batch span.account{ margin-left:15px; font-size:14px;}
.top-batch span.account b{ color:#f45100; padding:0px 2px;}
.top-batch .close{ top:12px; right:10px; background: url(../images/hideshow.png) no-repeat; width:8px; height:14px; opacity:1; }
.top-batch .bluebtn,.top-batch .bluebtn_bjd{ font-size:14px; position:absolute;  height:28px; text-align:center; line-height:28px;}
.top-batch .bluebtn{width:80px;right:25px; top:5px;background: #ea544a;color: #fff;}
.top-batch .bluebtn_bjd{width:90px;right:110px; top:5px;background: #ea544a;color: #fff;}
.mid-batch{ width:100%; padding-bottom:10px;}
.part02-batch{ width:465px; border:1px solid #e9ece6; margin:10px 10px;border-top:none;}
.part02-batch{height:expression(this.height > 147 ? '147px' : true); max-height:147px;_height: expression(this.height > 147 && this.width / 147 < this.height / 147 ? 147 : true);vertical-align:middle;overflow:auto;}
.part02-batch li{ height:48px; line-height:48px; border-top:1px solid #e9ece6; position:relative;}
.part02-batch li strong{ padding-left:10px; color:#929292; font-weight:bold;cursor: pointer;width:75px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.part02-batch li p{position:absolute; right:26px;top:0px; background:#fff; padding:0px 5px 0px 10px}
.part02-batch li .del{ background:url(../images/del.gif) no-repeat; width:16px; height:16px; cursor:pointer; position:absolute; right:9px; top:16px; z-index:10}
.cart_ul {width:434px;list-style-type:none; overflow:hidden;}
.cart_ul li {display:inline;width:210px;float:left;margin:0 0 10px 0;}
.part01-batch{ padding:10px 0; color:#929292; margin-left:10px;}
.part01-batch b{ padding:0 4px; color:#459ecc; font-size:14px;}
/*批量添加弹窗 end*/
/*详情弹窗 begin*/
.batchboxdetail{width:800px;}
.tab01-batchdetail{ width:100%}
.account_details{width:750px; min-height:60px;}
.batchboxdetail{border:5px solid #fff; background:#fff; border-radius:5px; position:absolute;box-shadow: 1px 1px 10px #333}
.top-batchdetail{ height:38px; line-height:38px; background:#eff3f4; width:100%;}
.top-batchdetail .close{ top:7px; right:7px;opacity: 1}
.top-batchdetail li{ float:left;padding:0 23px; cursor:pointer;color: #000}
.top-batchdetail li strong{ display:block; height:38px; float:left; color:#000; font-size:14px;}
.top-batchdetail .li_a{ background:url(../images/batch_icon1.png) no-repeat 0 11px; padding-left:22px;}
.top-batchdetail .li_b{ background:url(../images/batch_icon2.png) no-repeat 0 11px; padding-left:28px;}
.top-batchdetail .select{ background:#ea544a;color:#fff}
.top-batchdetail .select strong{color:#fff}
.top-batchdetail .select .li_a{ background:url(../images/batch_icon1_hover.png) no-repeat 0 11px; color:#fff;}
.top-batchdetail .select .li_b{ background:url(../images/batch_icon2_hover.png) no-repeat 0 11px; color:#fff;}
.top-batchdetail .title{ top:32px;}
.top-batchdetail .title i{ display:block; background:url(../images/arr_top.png) no-repeat; left:60px; top:2px; position:absolute; width:16px; height:8px;}
.top-batchdetail .title span{ background:#fff; margin-top:9px; display:block; padding:0 8px; height:20px; line-height:20px; border:1px solid #ea544a; min-width:90px; text-align:center; margin-left:10px;}
.mid-batchdetail{ padding:20px;}

.tab01-batchdetail td,.tab01-batchdetail th{ height:36px; line-height:36px; border:1px solid #999; }
.tab01-batchdetail td{ padding-left:18px; }
.tab01-batchdetail td em{ font-weight:normal;  margin-right:9px;}
.tab01-batchdetail th{width: 140px;text-align: center}
.tab01-batchdetail td{width: 200px;}

.part01-data{ padding-left:40px; padding-bottom:19px; width:870px; padding-top:20px;}
.part01-data strong{ font-weight:bold; color:#929292; float:left;}
.part01-data span{ display:block; width:54px; text-align:center; cursor:pointer; height:14px;float:left; margin-left:8px; line-height:14px; border:1px solid #d1d6d4;}
.part01-data span.on{ background:#86c900; border:1px solid #86c900; color:#fff;}
.datetip{ width:867px; margin-left:25px; margin-bottom:20px;}
.tab01-date{ width:867px; margin-bottom:10px; margin-left:25px;}
.tab01-date td{height:48px; line-height:48px; border:1px solid #e9ece6; padding-left:18px; font-weight:bold; color:#929292;}
.tab01-date .t1{ width:108px;}
.tab01-date .t2{  font-weight:normal;}
.box01-batchdetail .graybtn{ margin-right:25px;}

.account_details{text-align:left; margin:0 auto;}
.account_details dt{ float:left; width:60px; height:60px; margin-right:10px;}
.account_details dt input{ float:left; margin-top:20px}
.account_details dt img{ float:right;width:60px;height: 60px}
.account_details h3{height: 30px;line-height: 30px;font-weight:normal; font-size:14px;}
.account_details .news_p p{ color:#888;}

.tips_details{position: relative;font-size: 14px;line-height: 30px;_line-height:30px;color: #666;*zoom: 1;*vertical-align: top; border:1px solid #ea544a; padding:20px; z-index:10;background: #fff;}
.tips_details .tip_fg,.tips_details .tip_bg {position: absolute;top: -10px;_top: -11px;left: 20px;width: 0;height: 0;border-width: 0 10px 10px 10px;border-style: dashed dashed solid dashed;border-color: transparent transparent #eee transparent;font-size: 0;line-height: 0;z-index:2;}
.tips_details .tip_bg {left:21px; border-bottom-color: #FFF;}
.tips_details .tip_fg {border-bottom-color: #ea544a}

.box01-mrfx{ min-height:450px;}
.part01-mrfx{ width:100%; margin-bottom:20px;}
.part01-mrfx .grp01{ width:150px}
.part01-mrfx .grp02{ width:560px; padding-left:25px;}
.part01-mrfx  h6{ padding:15px 0; font-size:14px;}
.part01-mrfx  h6 b{ padding-right:10px; }
.part02-mrfx{ width:100%;}
.part01-mrfx .tab01-mr{ width:100%;}
.part01-mrfx .codeimg{width:140px; padding:5px;}
.part01-mrfx .codeimg img{
width:expression(this.width > 140 ? '140px' : true);max-width:140px;_width: expression(this.width > 140&& this.width / 140 >= this.height / 140 ? 140 : true);vertical-align:middle;	}
.part01-mrfx .headimg{width:160px;padding:5px;text-align: center}
.part01-mrfx .headimg img{
width:expression(this.width > 160 ? '160px' : true);max-width:160px;_width: expression(this.width > 160&& this.width / 160 >= this.height / 160 ? 160 : true);vertical-align:middle;	}

.tab01-mr{ width:100%;}
.tab01-mr td{ padding:12px 0; border:1px solid #e9ece6;}
.tab01-mr .t1{ width:80px; padding-right:12px; text-align:right; font-weight:bold; color:#929292;}
.tab01-mr .t2{ padding:0 15px;}
.part02-mrfx h6{ line-height:20px;padding:15px 0px; background:#eff3f4;}
.part02-mrfx h6 strong{ padding-left:18px; font-size:14px;}
.part02-mrfx p{ padding:10px; line-height:22px;}
.part02-mrfx .info{padding:10px; line-height:22px;}
.part02-mrfx .info span{ margin-right:40px;}

/*详情弹窗 end*/

/*草根微博 begin*/
.weibopart .grp{ float:left;  padding-top:2px; width:150px; padding-left:10px;}
.weibopart .grp h5{ padding-bottom:8px;}
.weibopart .grp  .desc{ display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:12px;}
.weibopart{ overflow:hidden}
.weibopart input{ float:left; margin:20px 0 0 20px;}
.weibopart .wbimg{ float:left; padding:5px;height:expression(this.height > 50 ? '50px' : true); max-height:50px;_height: expression(this.height > 50 && this.width / 50 < this.height / 50 ? 50 : true);}

.address{ padding-left:15px; background:url(../images/user_icon.gif) no-repeat; padding-bottom:4px; display:inline-block;}
.controlbox{ padding-right:10px}
.controlbox span{display:inline-block;float:left;margin-left:-1px;border:solid 1px #ededed;height:34px;color:#3e3e3e;text-align:center;line-height:34px;cursor:pointer;-webkit-transition:all .1s linear;-moz-transition:all .1s linear;-o-transition:all .1s linear;transition:all .1s linear; padding:0px 10px;}

/*草根微博 end*/
/*新闻列表 begin*/
.mediapart .grp{ float:left;  padding-top:2px; width:250px; padding-left:10px;}
.mediapart .grp h5{ padding-bottom:8px;}
.mediapart .grp  .desc{ display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:12px;}
.mediapart input{ float:left; margin:20px 0 0 20px;}
.mediapart .mtimg{ float:left; width:120px; padding:5px;height:expression(this.height > 50 ? '50px' : true); max-height:50px;_height: expression(this.height > 50 && this.width / 50 < this.height / 50 ? 50 : true);}

/*新闻列表 end*/


table#weerh td{padding: 20px 0}

.yellow_weixin_v{background: url(../images/v_weixin.gif) no-repeat 3px 0px;width: 22px;height: 18px;display: inline-table;}

.pos{position: fixed;left: 50%;top: 0;margin-left: -600px;z-index: 123}
.outdiv{position: relative}
#w274{width: 274px}

/*V*/
.weibo_v{ display:inline-block; width:18px; height:17px;background:url(/App/Public/Global/images/weibo_icon.png) no-repeat; margin-left:5px;}
.yellow_caogen{ background-position:0px -48px;}
.blue_caogen{ background-position:0px -73px;}
.master_caogen{ background-position:0px -123px;}
.yellow_celebrity{ background-position:0px -45px;}
.blue_celebrity{ background-position:0px -70px;}
.master_celebrity{ background-position:0px -120px;}

.yellow_weixin_v{ display:inline-block; background:url(../images/v_weixin.gif) no-repeat; width:22px; height:17px;}

.js_collect .iconfont,.js_add_to_black_list .iconfont{font-size: 15px}
.js_collect .iconfont,.iconf .iconfont,.js_add_to_black_list .iconfont{margin-right: 5px}

/*筛选没有信息提示*/
.find_nothing{ margin:20px 15px;text-align: center;font-size:16px; }
.find_nothings{ margin:20px 15px 0;text-align: center;font-size:16px; }

/*软硬广提示*/
.prompt{float: right;color: #ea544a ;font-weight: bold;padding-top: 10px}
.prompt b{display: inline-table;width: 40px;height: 20px;background:#55a9ff;text-align: center;color: #fff;border-radius: 4px;margin: 0 5px}
/* 数据加载中 */
/*.Dataloading{width: 100%;height: 100%;background: #000;opacity: 0.2;display: block;position: absolute;left: 0;top: 0;z-index: 100000}
.bore{background: url(../images/Dataloading.gif) no-repeat center 80px #fff;min-height: 220px}
.bore{position: relative}*/
.yuanj, .wxyuanj{font-size:11px;color:#aaa;margin-left:5px;display:block}
.wxyuanj {display:inline-block}

/* 销售自定义价格 */
#saleprice{margin-bottom: 15px}
#saleprice input{background: #fff;border: 1px solid #ddd;border-radius: 4px;text-align: center;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;height: 25px;line-height: 25px}
#saleprice thead th{background: #f5f6fa;border-bottom: 1px solid #e1e6eb}
#saleprice tbody td{border: 1px solid #ddd;font-size: 12px;padding: 5px 8px}
#saleprice tbody td span{display: block;height: 25px;line-height: 25px}
#lineorder{float: right;font-weight: normal;margin: 19px 30px 0 0}
#lineorder input{width: auto;height: auto;margin: 0 5px 0 0;}
.selecthj{float: left}
.selecthj label{font-weight: normal}
.selecthj label input{margin: 0 5px 0 0}
.pricehj{float: right;padding-top: 8px}
.pricehj span b{color: #FF0000;font-size: 16px}
.is_bale,.average{margin-top: 8px;float: left;}
.bale_money,.average{display: none;}
.bale_money{width: 140px;text-align: center;float: left;}
input[readonly='readonly']{background: #eee!important;cursor: not-allowed; }
.zongjiaa{color: #ff0000;font-size: 16px}
.echo_error{color: #FF0000}
.switch-style{position: relative;width: 64px;height: 32px;overflow: hidden}
.switch-style .switch-bg{width: 64px;height: 32px;background: url(../images/switch-bg.png) no-repeat;display: block;position: absolute;left: 0;top: 0}
.switch-style .switch-btn{width: 94px;height: 32px;background: url(../images/switch-btn.png) no-repeat;display: block;margin-left:-10px}
.sqr_code{position: relative;cursor: pointer}
.sqr_code img{position: absolute;left: 15px;top: 0}
.showaccountlist{background: #fff none repeat scroll 0 0;border: 5px solid #a4a3a3;border-radius: 3px;display: none;position: absolute;width: 800px;}
.eleven_content .label-right{ text-align:right; font-weight:bold}
.eleven_content h3{ text-align:center;font-weight:bold; font-size:20px; padding:20px;}
.eleven_content .close_max b{ color:#333;}
#double_eleven .modal-dialog{ position:absolute; top:50%; margin-top:-230px;left:50%; margin-left:-400px;}
.heiscoll{max-height: 400px;overflow-y: scroll}

.list_li26 li{padding-left:15px;line-height:26px;color:#222a37;position:relative; font-size:13px;}
.list_li26 li span.sapnr{ float:right;}
.list_li26 li a{color:#444;}
.list_li26 li a:hover{ text-decoration:underline;color:#222a37;}
.list_li26 li span.middot{ display:block; position:absolute; width:6px; height:6px; border-radius:3px; overflow:hidden; left:3px; top:10px; background:#999}


.accountname span{ margin:2px; border:1px solid #D5DEFF; border-radius:4px; width:120px; height:24px; line-height:22px; text-align:center; float:left; display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size: 12px}

.smallnav,.locate{position: fixed;left: 50%;margin-left:-600px;width: 1200px!important;z-index: 1000}
.smallnav{top: 43px;}
.locate{top: 0;}

.wprice{padding: 0 0 0 10px!important;height: 44px;margin-top: 22px;display: table-cell;vertical-align: middle}

.wggwtype label{float: left;position: relative;margin-right: 20px;cursor: pointer}
.wggwtype input,.wggwtype span{display: block;height: 30px}
.wggwtype input{opacity: 0;position: absolute;top: 0;left: 5px;}
.wggwtype span{line-height: 30px;text-align: center;font-weight: normal;border: 1px solid #ddd;background-color: #fff;border-radius: 3px;padding: 0 20px}
.wggwtype input:checked + span{border: 1px solid #d43f3a;;color: #d43f3a;background: #fff url(../images/gouxuan.png) no-repeat right bottom}

/* 批量搜索 */
.batchsearch{position: relative}
.batchsearch a{position: absolute;right: 65px;top: 10px;color: #ccc;;z-index: 23}
.batchsearch a:hover{text-decoration: underline;color: #ea544a}
.batchsearch a[rel='hide']{color: #ea544a}
.batchsearch .multiple_account{width: 302px;height: 80px;background: #fff;border: 2px solid #ea544a;position: absolute;left: 2px;top: 0;border-radius: 4px 0 4px 4px;z-index: 22;overflow: hidden;display: none}
.batchsearch .multiple_account.on{display: block!important;}
.batchsearch .multiple_account textarea{width: 315px;height: 80px;line-height: 21px;padding: 8px 36px 8px 8px;resize:none;border: none;background: none;color: #babab7}

.celebrity .celebrity_title .city{padding:0 5px 0 18px; line-height:16px; height:20px; border:1px solid #f5f5f5; background:url(../images/cer_img05.gif) no-repeat 5px 1px;}
